# ── API GATEWAY CONFIG ─────────────────────────
PORT=3100
JWT_SECRET=studnet_secret_key

# ── FRONTEND ────────────────────────────────────
FRONTEND_URL=http://localhost:8080

# ── MICROSERVICES URLS ──────────────────────────
AUTH_SERVICE_URL=http://localhost:5100
MESSAGING_SERVICE_URL=http://localhost:5101
CONTENT_SERVICE_URL=http://localhost:5102
USER_SERVICE_URL=http://localhost:5103
FILE_SERVICE_URL=http://localhost:5106
